<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
  <application android:allowBackup="true" android:icon="@mipmap/appicon" android:label="@string/app_name" android:name=".AndroidApp4Application" android:roundIcon="@mipmap/appicon_round" android:supportsRtl="true" android:theme="@style/Theme.AndroidApp4">
  </application>
  <uses-permission android:name="android.permission.INTERNET" />
</manifest>